.element-title {
    color: #fff;
    font-family: sans-serif;
    position: relative;
    left: -3rem;
    font-size: 6rem;
    text-transform: uppercase;
    font-weight: normal;
    margin-top: 0;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    text-shadow: black 0px 0px 10px;
}

.element-text {
    color: #fff;
    position: relative;
    left: -3rem;
    font-size: 3rem;
    color: rgba(255, 255, 255, 1);
    padding-left: 4rem;
    padding-right: 4rem;
    text-align: center;
    font-family: serif;
    font-style: italic;
    text-shadow: black 0px 0px 10px;
}

.tournament-table {
    color: white;
    position: absolute;
    right: 0;
    top: -20rem;
    font-size: 1.3rem;
    text-align: left;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-shadow: black 0px 0px 10px;
}

.section {
    position: relative;
    background: #eee;
    background-size: cover;
    background-position: center center;
}

.menu-wrapper {
    position: fixed;
    z-index: 70;
    text-align: center;
    height: 100%;
    margin: auto;
    overflow-y: auto;
    direction: rtl;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 6px;
    direction: ltr;
}

li a {
    display: inline-block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    width: 146px;
}


li a:hover:not(:active ) {
    background-color: #555;
    color: white;
}

li.active {
    background-color: rgba(255, 255, 255, 0.8);
    color: white;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

#seasonMenu {
    color: #f2f2f2;
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: right;
}

.seasonButton {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 6px;
}

.seasonButton:nth-of-type(1) {
    background-color: rgba(51, 216, 208, 0.5);
}

.seasonButton:nth-of-type(2) {
    background-color: rgba(56, 195, 79, 0.5);
}

.seasonButton:nth-of-type(3) {
    background-color: rgba(157, 236, 52, 0.5);
    color: black;
}
.seasonButton:nth-of-type(4) {
    background-color: rgba(236, 52, 205, 0.5);
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 2px;
}

.score {
    float: right;
    text-align: right;
}
